[Unit]
Description=remirror
After=network-online.target
Wants=network-online.target

[Service]
User=remirror
Type=simple
ExecStart=/usr/bin/remirror

[Install]
WantedBy=multi-user.target
