[Unit]
Description=Experticity caching proxy/mirror
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/remirror -listen :8084

[Install]
WantedBy=multi-user.target
